<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/partials/footer.css">
  <link rel="shortcut icon" href="#">
</head>

<body>
  <div id="footer">
    <div class="container">
      <a id="homeLink" href="/">Chatter</a>
    </div>
    <div class="container">
      <a id="gitHubLink" href="https://github.com/DanielSorrell/Chatter" target="_blank">GitHub</a>
    </div>
  </div>
</body>
