<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/createRoomStyles.css">
  <link rel="shortcut icon" href="#">
</head>

<body>

  <%- include("partials/header.ejs")%>
  <div id="main">
    <br><a id="homePageLink" href="/">Back</a>
    <h2>Joining room: <b><%= roomId %></b></h2>
    <form action="/createUsername" method="post" id="createUsernameForm">
      <h2>Choose username:</h2>
      <h4><i>Username must be less than 13 characters</i></h4>
      <input type="text" id="username" name="username" maxlength="12"><br><br>
      <input type="hidden" id="roomId" name="roomId" value="<%= roomId %>"/>
      <input type="submit" value="join room">
    </form><br>
  </div>
  <%- include("partials/footer.ejs")%>

</body>
</html>
