<!DOCTYPE html>
<html lang="en">
<head>
  <script defer src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
  <script defer src="/js/liveRooms.js"></script>
  <link rel='stylesheet' href='/css/homePageStyles.css'>
</head>

<body>
  <h1>Chatter: Live chat room application</h1>
  <a id="githubLink" href="https://github.com/DanielSorrell/Chatter" target="_blank" rel="noopener noreferrer">View source code</a>
  <a id='createRoomLink' href="/createRoom">Create a room</a>
  

  <h3 id='roomsListHeader'>No other rooms to join. Please create a room to start chatting.</h3>
  <div id="liveRooms"></div>
</body>
</html>
