html {
  background-color: rgb(101, 101, 101);
}

h1 {
  text-align: center;
}

body {
  text-align: center;
}

#centerDiv {
  text-align: center;
}

#roomsDiv {
  margin-top: 2%;
}

#roomsListHeader {
  background-color: #ebebeb;
  width: fit-content;
  border: 3px solid black;
  padding: 2%;
  margin-top: 4%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.roomRedirect {
  border: 3px solid white;
  color: white;
  display: inline-block;
  width: 70%;
  padding: 5px;
  margin: 10px;
}

.roomRedirect:hover {
  background-color: black;
}

.roomContainer:hover{
  transform: scale(1.2);
}

#githubLink {
  color: white;
  border: 3px solid white;
  display: inline-block;
  margin-right: 5%;
  padding: 2%;
}

#createRoomLink, #homePagelink {
  color: white;
  border: 3px solid white;
  display: inline-block;
  padding: 2%;
}

#createRoomLink:hover, #homePagelink:hover, #githubLink:hover {
  background-color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  transform: scale(1.2);
}

#invalidRoomError{
  border: 3px solid black;
  width: 40%;
  display: inline-block;
}
